:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

#root {
  display: flex;
  background-color: #10141f;
  overflow-x: hidden;

  h1 {
    color: white;
  }

  &::-webkit-scrollbar {
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.329);
    border-radius: 10px;
    background-color: #191919;
  }

  &::-webkit-scrollbar-thumb {
    background: #3f507f;
    border-radius: 10px;
  }
}

//discover page
.discover-page{
  display: flex;
  flex-direction: column;
  margin: 20px 0px;

  & hr {
    border: solid 1px white;
    width: 97%;
  }

  & p {
    color: white;
    max-width: 600px;
    font-size: 12px;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
  }
}

//movie item
.item-movie-holder{
  height: 240px;
  margin: 0px 30px;
  display: flex;
  gap: 10px;
  scroll-behavior: smooth;
  user-select: none;
  max-width: 200px;

  &::-webkit-scrollbar {
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.142);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #2c3858;
    border-radius: 10px;
  }
}

.item-movie-cat-title{
  margin: 0px 20px;
  h1 {
    font-size: 23px;
  }
}


.item-movie{
  position: relative;
  height: 210px;
  width: 180px;
  transition: 0.4s;
  cursor: pointer;

  &:hover{
    scale: 0.97;
    filter: grayscale(0.1);
  }

  &:active{
    filter: grayscale(0.4);
  }

  &::after{
    box-shadow: inset 3px 1px 30px 3px #000000;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }

  img {
    height: 210px;
    width: 180px;
    border-radius: 10px;
  }

  h1 {
    font-size: 16px;
    font-weight: 600;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
  }

  h2 {
    color: white;
    font-size: 12px;
    font-weight: 800;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
  }

  h3 {
    color: white;
    font-size: 12px;
    font-weight: 500;
    margin-top: 2px;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
  }

  .movie-item-info{
    margin: 0 10px;
    position: absolute;
    bottom: 0;
  }

  .movie-item-cat{
    display: flex;
    gap: 5px;

    & img {
      height: 14px;
      width: 14px;
      margin: 2px 0 0;
    }
  }

  .divider{
    height: 16px;
    width: 2px;
    background-color: #ff0c0c;
    margin: 2px 0 0;
  }
}

.featured-movie-banner{
  width: 100vw;
  height: 400px;
  position: relative;

  &::after{
    box-shadow: inset 3px 1px 30px 3px #000000;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }

  img {
    width: 100%;
    height: 400px;
  }

  h1 {
    font-size: 32px;
    font-weight: 600;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
  }
}

.featured-movie-info{
  position: absolute;
  bottom: 0;
  margin: 0 20px 20px;

  .featured-movie-btn{
    display: flex;
    gap: 10px;

    button {
      width: 140px;
      z-index: 99;
    }
  }
}

.item-movie-btn-arrow{
  position: absolute;
  display: flex;
  right: 3%;
  bottom: 0%;
  background-color: rgba(30, 29, 29, 0.84);
  height: 100px;
  width: 50px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    border: solid 2px rgba(255, 255, 255, 0.292);
  }

  img {
    width: 30px;
    height: 30px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(69deg) brightness(103%) contrast(101%);
  }
}

.item-movie-btn-arrow-right{
  position: absolute;
  display: flex;
  left: 3%;
  bottom: 0%;
  background-color: rgba(30, 29, 29, 0.84);
  height: 100px;
  width: 50px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    border: solid 2px rgba(255, 255, 255, 0.292);
  }

  img {
    width: 30px;
    height: 30px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(69deg) brightness(103%) contrast(101%);
  }
}

.navbar{
  position: sticky !important;
  top: 0;
  left: 0;
  height: auto;
  gap: 1px;
  z-index: 999;
  background-color: #0d1017;

  img {
    width: 22px;
    height: 22px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7457%) hue-rotate(297deg) brightness(120%) contrast(91%);
    margin: 0 10px;
  }

  a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
  }

  li {
    border-radius: 5px;
    padding: 10px 0px 10px 5px;
  }

  ul {
    position: sticky !important;
    top: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
    margin-bottom: auto;
    padding: 0 10px;
  }
}