:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

#root {
  display: flex;
  background-color: #10141f;
  overflow-x: hidden;

  h1 {
    color: white;
  }

  &::-webkit-scrollbar {
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.329);
    border-radius: 10px;
    background-color: #191919;
  }

  &::-webkit-scrollbar-thumb {
    background: #3f507f;
    border-radius: 10px;
  }
}

//Genrea btn

.genre-btn-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  gap: 10px;
  width: 50%;

  & .genre-btn{
    background-color: #242424;
    padding: 5px;
    border-radius: 10px;
    transition: 0.2s;
    cursor: pointer;

    &:hover{
      scale: 0.95;
    }

    h1 {
      font-size: 16px;
      margin: auto;
    }
  }
}

//discover page
.discover-page{
  display: flex;
  flex-direction: column;
  margin: 20px 0px;

  & hr {
    border: solid 1px white;
    width: 97%;
  }

  & p {
    color: white;
    max-width: 600px;
    font-size: 12px;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
  }
}

.item-movie-holder-content{
  width: 90vw;
}

//movie item
.item-movie-holder{
  position: relative;
  height: 240px;
  margin: 0px 30px;
  display: flex;
  gap: 10px;
  scroll-behavior: smooth;
  user-select: none;
  max-width: 90vw;
  overflow: hidden;

  &::-webkit-scrollbar {
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.142);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #2c3858;
    border-radius: 10px;
  }
}

.item-movie-cat-title{
  margin: 0px 20px;
  h1 {
    font-size: 23px;
  }
}


.item-movie{
  position: relative;
  height: 210px;
  width: 180px;
  transition: 0.4s;
  cursor: pointer;

  &:hover{
    scale: 0.97;
    filter: grayscale(0.1);
  }

  &:active{
    filter: grayscale(0.4);
  }

  &::after{
    box-shadow: inset 3px 1px 30px 3px #000000;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }

  img {
    height: 210px;
    width: 180px;
    border-radius: 10px;
  }

  h1 {
    font-size: 16px;
    font-weight: 600;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
  }

  h2 {
    color: white;
    font-size: 12px;
    font-weight: 800;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
  }

  h3 {
    color: white;
    font-size: 12px;
    font-weight: 500;
    margin-top: 2px;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
  }

  .movie-item-info{
    margin: 0 10px;
    position: absolute;
    bottom: 0;
  }

  .movie-item-cat{
    display: flex;
    gap: 5px;

    & img {
      height: 14px;
      width: 14px;
      margin: 2px 0 0;
    }
  }

  .divider{
    height: 16px;
    width: 2px;
    background-color: #ff0c0c;
    margin: 2px 0 0;
  }
}

.featured-movie-banner{
  width: 100vw;
  height: 400px;
  position: relative;
  margin: 0 0 50px 0;

  &::after{
    box-shadow: inset 3px 1px 30px 3px #000000;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }

  img {
    width: 100%;
    height: 400px;
  }

  h1 {
    font-size: 32px;
    font-weight: 600;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
  }
}

.featured-movie-info{
  position: absolute;
  bottom: 0;
  margin: 0 20px 20px;

  .featured-movie-btn{
    display: flex;
    gap: 10px;

    a {
      z-index: 99;
    }

    button {
      width: 140px;
    }
  }
}

.item-movie-btn-arrow{
  position: absolute;
  display: flex;
  right: 3%;
  top: 15%;
  background-color: rgba(30, 29, 29, 0.84);
  height: 100px;
  width: 50px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    border: solid 2px rgba(255, 255, 255, 0.292);
  }

  img {
    width: 30px;
    height: 30px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(69deg) brightness(103%) contrast(101%);
  }
}

.item-movie-btn-arrow-right{
  position: absolute;
  display: flex;
  left: 3%;
  top: 15%;
  background-color: rgba(30, 29, 29, 0.84);
  height: 100px;
  width: 50px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    border: solid 2px rgba(255, 255, 255, 0.292);
  }

  img {
    width: 30px;
    height: 30px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(69deg) brightness(103%) contrast(101%);
  }
}

.item-movie-cat-title-row{
  display: flex;
  gap: 10px;

  img {
    width: 22px;
    height: 22px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(88deg) brightness(103%) contrast(107%);
  }
}

//Movie page
.movie-page-container{
  margin: auto;
}
.movie-page{
  display: flex;
  margin: 20px;
  gap: 1%;
  width: 95vw;

  & .movie-page-poster{
    img {
      width: 200px;
      height: 250px;
      border-radius: 10px;
    }
  }

  & .movie-page-info{
    display: flex;
    gap: 5px;
  
    h2 {
      font-size: 14px;
    }

    img {
      width: 12px;
      height: 12px;
      filter: brightness(0) saturate(100%) invert(84%) sepia(30%) saturate(1464%) hue-rotate(360deg) brightness(106%) contrast(104%);
      margin: 2px 0;
    }
  }

  p {
    max-width: 700px;
  }

  & .movie-page-btn {
    display: flex;
    gap: 10px;

    button {
      width: 150px;
    }
  }
}

//===========
//Movie tabs
//===========

//Shows similar movies
.movie-page-similar-imgs{
  img {
    border-radius: 10px;
    height:210px;
    width: 180px;
  }
}

.movie-page-similar {
  margin: 50px 5%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 80vw;

  .move-page-similar-img-container{
    display: flex;
    gap: 9px;
    overflow: hidden;
    scroll-behavior: smooth;
    width: 80vw;
  }
}

.movie-page-info-overview-container{
  background-color: #000000;
  border-radius: 10px;
  padding: 20px 40px;
  color: white;

  p {
    max-width: 500px;
  }
}

.movie-page-info-card-container{
  display: flex;
  gap: 10px;
}

.movie-page-info-card-nested-container{
  display: flex;
  flex-wrap: wrap;
  gap: 3px;

  .movie-page-info-card-nested{
    background-color: #333333;
    padding: 3px;
    border-radius: 10px;

    h3 {
      font-size: 13px;
    }
  }
}

.movie-page-tabs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .movie-page-info-card{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 10px;
    border-radius: 10px;

    h1{
      font-size: 18px;
      font-weight: 800;
    }

    h2{
      font-size: 17px;
      font-weight: 400;
    }
  }

  ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 500px;
  }

  button {
    background: none;
    border: none;
  }

  h1 {
    font-size: 24px;
  }
}

.footer{
  display: flex;
  gap: 50px;
  width: 100%;
  padding: 10px;
  background-color: #000000;

  p {
    color: white;
  }

  span {
    color: #dc3546;
  }

  & .footer-links-container{
    display: flex;
    flex-direction: column;

    a {
      font-size: 16px;
      color: rgb(222, 222, 222);
      text-decoration: none;
      transition: 0.1s;

      &:hover {
        color: #dc3546;
      }
    }
  }

  & .footer-list-container{
    display: flex;
    gap: 60px;
    justify-content: space-between;
    margin: 30px 30px 10px;
  }
}

.navbar{
  position: sticky !important;
  top: 0;
  left: 0;
  height: auto;
  gap: 1px;
  z-index: 500;
  background-color: #0d1017;

  & .nav-list-item{
    position: relative;
    border-radius: 5px;
    padding: 10px 0px 10px 5px;

    &:hover{
      scale: 0.94;
      background-color: #3f404562
    }
  }

  & .navbar-context{
    background-color: #1a1a1a;
    z-index: 999;
    border-radius: 15px;
    position: absolute;
    padding: 5px 20px;
    bottom: 5%;
    left: 135%;
    border: solid 1px rgba(128, 128, 128, 0.525);

    h1 {
      color: white;
      font-size: 16px;
      margin: auto;
    }
  }

  img {
    width: 22px;
    height: 22px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7457%) hue-rotate(297deg) brightness(120%) contrast(91%);
    margin: 0 10px;
  }

  #nav-settings{
    position: absolute !important;
    bottom: 1%;
  }

  a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
  }

  ul {
    position: sticky !important;
    top: 0;
    height: 95vh;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
    margin-bottom: auto;
    padding: 0 10px;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    flex-direction: column;
    gap: 10px;
    height: 100px;
    align-items: center;
    width: 90vw;

    p {
      font-size: 12px;
      text-align: center;
    }
  }

  .footer-list-container {
    display: none;
  }

  .footer-links-container{
    display: none;

    a {
      display: none;
    }
  }

  .item-movie {
    width: 120px;
    height: 180px;

    img {
      width: 120px;
      height: 180px;
    }
  }

  .item-movie-btn-arrow{
    height: 70px;
    width: 45px;
    right: 8%;
  }

  .item-movie-btn-arrow-right{
    height: 70px;
    width: 45px;
    left: 8%;
  }

  .movie-page{
    flex-wrap: wrap;
    width: 95vw;
    gap: 10px;
    margin: 10px 5px;

    & .movie-page-btn{
      button {
        width: 100px;
      }
    }

    p {
      font-size: 13px;
    }

    h2 {
      font-size: 12px;
    }

    h1 {
      font-size: 20px;
    }

    .movie-page-poster{
      margin: auto;
      img {
        width: 150px;
        height: 170px;
      }
    }
  }

  .movie-page-similar-imgs{
    height: 120px;
    width: 110px;

    img {
      height: 120px;
      width: 110px;
    }
  }

  .movie-page-info-overview-container{
    width: 95vw;
    h1 {
      font-size: 18px;
    }

    p {
      max-width: 500px;
      font-size: 13px;
    }
  }

  .movie-page-tabs{
    display: none;
  }

  //Discover page

  .discover-page-title{
    h1 {
      font-size: 29px !important;
    }

    h3 {
      font-size: 20px !important;
    }

    input {
      width: 200px !important;
    }
  }

  .discover-page-img-container{
    gap: 10px !important;
    img {
      height: 120px !important;
      width: 110px !important;
    }
  }

  .discover-page-bottom{
    margin: 10px 90px auto auto !important;
    align-content: center !important;

    button {
      width: 100px !important;
    }
  }

  .featured-movie-banner{
    height: 300px;

    img {
      height: 300px;
    }
    
    p {
      display: none;
    }
  }

  .item-movie-cat-title{
    margin: 10px 2px;

    h1 {
      font-size: 23px;
      margin: auto 0;
    }
  }

  .item-movie-holder{
    height: 180px;
  }

  .movie-page-overview{
    p {
      max-width: 500px !important;
    }
  }
}