.cast-container{
  display: flex;
  gap: 5px;
  width: 71vw;
  overflow: hidden;
  scroll-behavior: smooth;
}

.cast-item-container{
  display: flex;
  flex-direction: column;
  gap: 15px;

  img {
    height: 150px;
    width: 100px;
    border-radius: 10px;
  }

  h1 {
    font-size: 16px;
  }

  h2 {
    font-size: 16px;
  }
}

.movie-page-overview{
  display: flex;
  flex-direction: column;

  p {
    max-width: 700px;
  }
}

.show-seasons-episodes-container{
  display: flex;
  gap: 20px;
  background-color: gray;
  position: fixed;
  z-index: 999;
  top: 5vh;
  left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 10px;
  padding: 10px;
  background-color: #1d2438;

  h1 {
    font-size: 30px;
  }

  h2 {
    color: white;
    font-size: 24px;
  }

  button {
    background: none;
    border: none;
    width: 140px;
  }
}

.show-seasons-episodes-title-container{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  padding: 0 45px 0 0;

  &::-webkit-scrollbar {
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #19191980;
  }

  &::-webkit-scrollbar-thumb {
    background: #3f507f;
    border-radius: 10px;
  }
}

.show-seasons-episodes-outer-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 800;
  backdrop-filter: blur(5px);  
}

.show-seasons-episode-container{
  overflow-y: scroll;
  width: 100%;

  &::-webkit-scrollbar {
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #19191980;
  }

  &::-webkit-scrollbar-thumb {
    background: #3f507f;
    border-radius: 10px;
  }
}

.season-episode-item-container{
  display: flex;
  gap: 20px;
  cursor: pointer;
  padding: 10px 5px;
  border-radius: 10px;

  &:hover{
    background-color: rgba(102, 102, 102, 0.192);
  }
}

.season-episodes-list{
  display: flex;
  flex-direction: column;
  gap: 20px;
  span {
    font-size: 16px;
  }

  p{
    color: white;
    font-size: 12px;
  }

  h1{
    font-size: 18px;
  }

  img {
    width: 170px;
    height: 150px;
    border-radius: 10px;
  }
}