.cast-container{
  display: flex;
  gap: 5px;
  width: 71vw;
  overflow: hidden;
  scroll-behavior: smooth;
}

.cast-item-container{
  display: flex;
  flex-direction: column;
  gap: 15px;

  img {
    height: 150px;
    width: 100px;
    border-radius: 10px;
  }

  h1 {
    font-size: 16px;
  }
}