.settings-page-item{
  cursor: pointer;
  padding: 10px;
  width: 200px;
  display: flex;
  gap: 10px;

  img {
    width: 22px;
    height: 22px;

    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(214deg) brightness(103%) contrast(101%);
  }

  &:hover{
    scale: 0.95;
  }

  h2 {
    color: white;
    font-size: 20px;
  }
}

.settings-row{
  display: flex;
  flex-direction: column;
  margin: 50px;

  button {
    background: none;
    border: none;
  }
}

.settings-category-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.settings-page{
  width: 100%;
}

.settings-current{
  h1 {
    margin: 0 0 30px;
  }

  h3{
    font-size: 20px;
    color: white;
  }
}

.settings-title{
  margin: 20px;
}

.settings-componet-container{
  display: flex;
  flex-direction: column;
  gap: 20px;

  p {
    color: white;
  }
}

//Settings compoents
.settings-componet{
  display: flex;
  justify-content: space-between;
  width: 280px;

  img {
    width: 16px;
    height: 16px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    margin: 2px 0;
  }
}

.settings-inner-componet{
  & input {
    padding: 10px 30px;
    cursor: pointer;
  }
}

.settings-componet-tooltip{
  position: relative;
}

.tooltipz{
  position: absolute;
  background-color: rgb(47, 47, 47);
  padding: 3px 10px;
  width: 180px;
  border-radius: 4px;
  z-index: 500;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: solid 1px rgba(255, 255, 255, 0.199);

  p {
    font-size: 13px;
    margin: auto;
  }
}